<header>
  <nav class="navbar">
    <ul>
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
        <button id="create-btn">Create</button>
      </li>
      <li class="nav-item search-form">
        <form role="search">
          <input type="search" placeholder="Search">
          <div class="nav-item">
            <select name="categories" id="categories">
              <option default>Category</option>
              <option value="javascript">Javascript</option>
              <option value="css">CSS</option>
              <option value="react">React</option>
              <option value="sql">SQL</option>
              <option value="express">Express</option>
              <option value="ruby">Ruby</option>
            </select>
          </div>
          <button id="serach-btn">Search</button>
        </form>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
    </ul>
  </nav>
</header>
