<header class="header-page">
  <nav class="navbar">
    <ul class="nav-container flex">
      <li class="nav-item flex">
        <a class="nav-link" href="/">Home</a>
        <% if (user) { %>
          <button id="create-btn" class="nav-btn">Create</button>
        <% } else { %>
            <button id="login-message" class="nav-btn">Create</button>
          <% } %>
      </li>
      <li class="nav-item flex search-form nav-search">
        <form role="search" method="GET" action="/" class="nav-search-form flex">
          <input name="searchTerm" type="search" placeholder="Search">
          <div class="nav-item flex">
            <select name="category" id="categories">
              <option value="Category">Category</option>
              <option value="Javascript">Javascript</option>
              <option value="CSS">CSS</option>
              <option value="React">React</option>
              <option value="SQL">SQL</option>
              <option value="Express">Express</option>
              <option value="Ruby">Ruby</option>
            </select>
          </div>
          <button type="submit" id="search-btn" class="nav-btn btn-search">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 50 50">
              <path
                d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z">
              </path>
            </svg>
          </button>
        </form>
      </li>
      <li class="nav-item flex">
        <% if (user) { %>
          <a class="nav-link" href="/users/<%= user.id %>">
            <%= user.username %> Profile
          </a>
          <% } else { %>
            <a class="nav-link" href="/login/2">LOGIN</a>
            <% } %>
      </li>
    </ul>
  </nav>
</header>
