<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
</head>

<body>
  <header class="header-page">
    <nav class="navbar">
      <ul class="nav-container flex">
        <li class="nav-item flex">
          <a href="/" class="nav-link">Back to Home</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <p class="error">You do not have access to this page</p>
  </main>
  <%- include('partials/_footer') %>
</body>

</html>