@use '../variables.scss' as *;

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $grey;
  width: 100vw;
  height: 10vh;
  z-index: 90;
  box-shadow: 3px 3px 6px 2px $dark;
  p{
    font-size: 12px;
    display: inline-block;
  }
}
