@use '../variables.scss' as *;

.header-page{
  background-color: $main;
  position: fixed;
  z-index: 90;
  width: 100vw;
  box-shadow: 2px 2px 5px 1px $dark;
  .nav{
    &bar{
      width: 100%;
      padding: 10px;
    }

    &-container{
      width: 100%;
      list-style: none;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }

    &-item{
      margin: 0 10px;
    }

    &-link,
    &-btn {
      margin: 0 10px;
      color: $light;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      position: relative;
      text-align: center;

      &::after{
        content: "";
        width: 0;
        height: 3px;
        background-color: $light;
        position: absolute;
        bottom: -5px;
        left: 0;
        transition: width 350ms ease-in-out;
      }

      &:hover{
        &::after{
          width: 100%;
        }
      }
    }

    &-search{
      width: 50%;

      &-form{
        width: 100%;
        align-items: center;
        border: 3px solid $dark;
        border-radius: 10px;
        background-color: $light;

        input{
          width: 100%;
          border-radius: 10px;
          &:hover{
            cursor: text;
          }
        }

        select{
          &:hover{
            cursor: pointer;
          }
        }

        input, select{
          font-size: 16px;
          border: none;
          padding: 10px;
          &:focus-within{
            border: none;
            outline: none;
          }
        }
      }

      .btn-search{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}
