@use '../variables.scss' as *;


.modal{
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;

  &--inner{
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: $light;
    width: 70%;
    height: 90%;
    padding: 60px 50px;
    border-radius: 30px;
    z-index: 20;
    overflow: scroll;
  }

  &--buffer{
    height: 10vh;
    width: 100%;
    margin-top: 5em;
  }
  &_title{
    padding-top: 10px;
  }
  &_url{
    color: $dark;
    margin: 0;
    font-size: 14px;
    text-decoration: underline;
    margin-bottom: 12px;
    &:hover{
      font-weight: 700;
      color: $main;
    }
  }
  &_rating{
    font-size: 12px;
    line-height: 16px;

    &-form{
      margin-top: 12px;
      margin-bottom: 24px;

      select{
        max-width: max-content;
        &:disabled{
          border-color: $grey;
        }
      }
    }
  }
  &_close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    z-index: 30;
  }
  &_thumbnail{
    align-items: center;
    margin-right: 40px;
    width: 40%;
    img{
      border-radius: 50px;
      width: 300px;
      height: 300px;
      // box-shadow: 2px 1px 3px 0px $grey;
    }
  }

  label, input, textarea, select{
    display: block;
    margin: 5px 0;
  }
  label{
    font-size: 14px;
  }
  input, textarea, select{
    padding: 3px 5px;
    border-radius: 3px;
    border: 2px $alt solid;
    font-size: 16px;
    width: 100%;
    &:focus-within{
      border: 3px solid $main;
    }
    &:hover{
      cursor: text;
    }
  }

  textarea{
    resize: none;
  }

  &-form{
    width: 50%;
  }

  .form_button--container{
    width: 100%;
    text-align: right;

    button{
      border: 2px solid $alt;
      padding: 5px 10px;
      border-radius: 3px;
    }
  }

  &_buttons{
    justify-content: space-between;
    margin-top: 15px;
    .btn{
      margin-top: unset;
    }
  }

  &_description,
  &_comments--list{
    overflow-y: scroll;
    overflow-x: hidden;
    text-wrap: pretty;
    margin: 12px 0;
    border-bottom: 1px solid $grey;
  }
  &_comments--list{
    height: 150px;
  }
  &_description{
    height: 60px;
    p{
      padding: 0 3px;
    }
  }
  .comment{
    font-size: 16px;
    margin-bottom: 12px;
    padding-bottom: 12px;

    &:not(:last-child){
      border-bottom: 1px solid #e9e9e9;
    }
    &_user-date{
      justify-content: space-between;
      margin-bottom: 7px;
    }
    &-form{
      textarea{
        height: 30px;
      }
    }
  }


}
