@use '../variables.scss' as *;


.modal{
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;

  &--inner{
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: $light;
    width: 66%;
    height: auto;
    padding: 50px;
    border-radius: 30px;
    z-index: 20;
  }

  &_close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    z-index: 30;
  }
  &_thumbnail{
    align-items: center;
    margin: 0 40px;
    width: 40%;
    img{
      border-radius: 50%;
      width: 200px;
      height: 200px;
    }
  }

  label, input, textarea, select{
    display: block;
    margin: 5px 0;
  }
  label{
    font-size: 14px;
  }
  input, textarea, select{
    padding: 3px 5px;
    border-radius: 3px;
    border: 2px $alt solid;
    font-size: 16px;
    width: 100%;
    &:not([type="email"]){
      text-transform: capitalize;
    }
    &:focus-within{
      border: 3px solid $main;
    }
    &:hover{
      cursor: text;
    }
  }

  textarea{
    resize: none;
  }

  &-form{
    width: 50%;
  }

  .form_button--container{
    width: 100%;
    text-align: right;

    button{
      border: 2px solid $alt;
      padding: 5px 10px;
      border-radius: 3px;
    }
  }
}
