@use '../variables.scss' as *;


.modal{
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);

  &--inner{
    position: fixed;
    justify-content: space-evenly;
    background-color: $light;
    width: 66%;
    height: auto;
    padding: 50px;
    border-radius: 30px;
  }

  &_close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    font-size: 18px;
  }
  &_thumbnail{
    align-items: center;
    margin-right: 40px;
    img{
      border-radius: 50%;
      width: 200px;
      height: 200px;
    }
  }

  label, input{
    display: block;
    margin: 5px 0;
  }
  label{
    font-size: 14px;
  }
  input{
    padding: 3px 5px;
    border-radius: 3px;
    border: 1px $alt solid;

    &:hover{
      cursor: pointer;
    }
  }

  .form_button--container{
    width: 100%;
    text-align: right;

    button{
      border: 2px solid $alt;
      padding: 5px 10px;
      border-radius: 3px;
    }
  }
}
