@use '../variables.scss' as *;

body{
  font-family: $font;
  font-size: 62.5%;
}

h1{
  font-family: $font-header;
  font-size: 4rem;
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 2rem;
}

h3{
  font-size: 17px;
  // letter-spacing: 0.5px;
  text-wrap: pretty;
}

p{
  font-size: 1.4rem;
}
