@use './variables.scss' as *;

.hidden{
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

.flex{
  display: flex;
}

.btn{
  border: 2px solid $main;
  background: $light;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 7px;
  margin-top: 15px;
  max-height: 30px;
  transition: all 300ms ease-out;

  &:not(:disabled) {
    &:hover {
      border-color: $alt;
      color: $light;
      background: $alt;
    }
  }
}

.bold{
  font-weight: 700;
}

.error{
  text-align: center;
  font-size: 3rem;
  color: $error;
  font-weight: 600;
}

.grey-text{
  color: $grey;
  font-size: 16px;
  margin-top: 12px;
  font-weight: 700;
}
